* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#about img {
  width: 15rem;
  height: 15rem;
  margin-bottom: 2rem;
}

.portfolio-img {
  max-width: 25rem;
  border-radius: 2rem;
  display: block;
  margin: auto;
}

.en-flag {
  width: 2rem;
  margin-left: 2rem;

}
.swe-flag {
  width: 2rem;
  margin-left: 3rem;
}

.dropdown-menu {
  background-color: antiquewhite;
}